footer {
  background-color: #6c8784;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 180px;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  color: black;
}
.classes.ContInfo {
  align-items: center;
}
